div.container
    a(href="/") < Go Back
    h1.text-center.col-md-12 Edit Transaction
    br
    br
    form(action="/update" method="post").form
        input(type='hidden' name='id' value=id)
        div.form-group
            label.control-label Date
            input(type='date' value=transaction.date name='new_date' required).form-control
        div.form-group
            label.control-label Description
            input(value=transaction.description name='new_description' required).form-control
        div.form-group
            label.control-label Amount
            input(type='number' min='0.01' step='.01' value=transaction.amount name='new_amount' required).form-control
        div.form-group
            label.control-label Type
            input(value=transaction.type disabled name='new_type').form-control
        div.form-group
            button(type='submit').btn.btn-primary Update